[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
SQLAlchemy = "*"
microservicecryp = "*"

[dev-packages]

[requires]
python_version = "3.7"

[scripts]
prod = "python3 app.py"
